<%= link_to 'Explore Hikes', "/hikes" %><br>
<%= link_to 'Explore National Parks', "/parks" %><br><br>

<h1>National Parks</h1><br>

<% @parks.each do |park| %>
	<h3><%= link_to park.name, "/parks/#{park.id}" %> <span style="font-size: 14px;"><%= park.created_at %></span></h3>
			<%= button_to "Update Park", "/parks/#{park.id}/edit", method: :get %>
			<%= button_to "Delete Park", "/parks/#{park.id}/destroy", method: :delete %>
	<br><br>
<% end %>


<br>
<%= link_to 'New Park', '/parks/new' %>
