<%= link_to 'Explore Hikes', "/hikes" %><br>
<%= link_to 'Explore National Parks', "/parks" %><br><br>

<h1>National Parks</h1><br>

<% @parks.each do |park| %>
	<h3><%= link_to park.name, "/parks/#{park.id}" %> <span style="font-size: 14px;"><%= park.created_at %></span></h3>
<% end %>

<br>

<%= link_to 'New Park', '/parks/new' %>
