<%= link_to 'Explore Hikes', "/hikes" %><br>
<%= link_to 'Explore National Parks', "/parks" %><br><br>

<h1>Hiking Trails</h1><br>

<h2><%= @hike.name %></h2>
<p>Length: <%= @hike.length_miles %> miles</p>
<p>Open: <%= @hike.open %></p>
<p>Park ID: <%= @hike.park_id %></p>

<%= button_to 'Update Hike', "/hikes/#{@hike.id}/edit", method: :get %>

<%= button_to "Delete Hike", "/hikes/#{@hike.id}/destroy", method: :delete %>
