<%= link_to 'Explore Hikes', "/hikes" %><br>
<%= link_to 'Explore National Parks', "/parks" %><br><br>

<%= link_to "Sort by Name", "/parks/#{@park.id}/hikes/sort" %>

<h1><%= @park.name %>: Hiking Trails</h1><br>

<% @hikes.each do |hike| %>
  <h2><%= hike.name %></h2>
  <p>Length: <%= hike.length_miles %> miles</p>
  <p>Open: <%= hike.open %></p>
  <br>
<% end %>

<%= link_to 'Create Hike', "/parks/#{@park.id}/hikes/new" %>
