<h1><%= @park.name %>: Hiking Trails</h1><br>

<% @hikes.each do |hike| %>
  <h2><%= hike.name %></h2>
  <p>Length: <%= hike.length_miles %> miles</p>
  <p>Open: <%= hike.open %></p>
  <p>Park ID: <%= hike.park_id %></p>
  <br>
<% end %>
